<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Flask</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    
    <div class="container mt-5">
      <div class="col-sm-12 mx-auto">
        <div class="row">
          <div class="col-sm-8">
            <h1>Hello, Welcome to my <div class="text-primary">Flask Application</div></h1>
            <hr style="border: 1px solid #ffc107;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident similique rem ipsum itaque odit, dolor, error non culpa ullam ea at dolorum nihil sed unde suscipit quam ab quaerat minima!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident similique rem ipsum itaque odit, dolor, error non culpa ullam ea at dolorum nihil sed unde suscipit quam ab quaerat minima!</p>
          </div>
          <div class="col-sm-4">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ByteWebster Logo" width="400" class="img-thumbnail border border-warning">
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>